<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean name="ncubeController" class="com.cedarsoftware.controller.NCubeController">
        <constructor-arg>
            <bean name="ncubeService" class="com.cedarsoftware.service.ncube.NCubeService" />
        </constructor-arg>
    </bean>



    <!--
    p:username="execdash"
    p:password="puCupRaQaZe3"
    -->

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.cedarsoftware.ncube.NCubeManager.setNCubePersister"/>
        <property name="arguments">
            <list>
                <ref bean="persister"/>
            </list>
        </property>
    </bean>

    <bean id="persister" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.cedarsoftware.util.ProxyFactory.create"/>
        <property name="arguments">
            <list>
                <ref bean="persisterInterface" />
                <ref bean="persisterAdapter"/>
            </list>
        </property>
    </bean>



    <bean id="persisterInterface" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod">
            <value>java.lang.Class.forName</value>
        </property>
        <property name="arguments">
            <list>
                <value>com.cedarsoftware.ncube.NCubePersister</value>
            </list>
        </property>
    </bean>

    <bean id="persisterImpl" class="com.cedarsoftware.ncube.NCubeJdbcPersister" />

    <bean id="persisterAdapter" class="com.cedarsoftware.ncube.DataSourcePersistenceProxy" >
        <constructor-arg ref="ncubeDataSource"  />
        <constructor-arg ref="persisterInterface"  />
        <constructor-arg ref="persisterImpl" />
    </bean>


    <!--
        When using mysql as your test database, set an environment variable spring.profiles.active=mysql
        The profiles list can be comma separated if you need more than one profile
    -->

    <bean id="ncubeDataSource" destroy-method="close" class="org.apache.tomcat.jdbc.pool.DataSource"
          p:driverClassName="oracle.jdbc.driver.OracleDriver"
          p:url="jdbc:oracle:thin:@10.50.214.14:1526:uwdeskd"
          p:username="ra_desktop"
          p:password="p0rtal"
          p:initialSize="5"
          p:minIdle="5"
          p:maxIdle="10"
          p:maxActive="100"
          p:maxWait="120000"
          p:jmxEnabled="true"
          p:removeAbandoned="true"
          p:removeAbandonedTimeout="180"
          p:testOnBorrow="true"
          p:testOnReturn="false"
          p:testWhileIdle="false"
          p:timeBetweenEvictionRunsMillis="30000"
          p:minEvictableIdleTimeMillis="30000"
          p:validationInterval="60000"
          p:validationQuery="select 1 from dual"
            />


    <beans profile="mysql">
        <bean id="ncubeDataSource" destroy-method="close" class="org.apache.tomcat.jdbc.pool.DataSource"
              p:driverClassName="com.mysql.jdbc.Driver"
              p:url="jdbc:mysql://localhost:3306/ncube"
              p:username="ncube"
              p:password="ncube"
              p:initialSize="5"
              p:minIdle="5"
              p:maxIdle="10"
              p:maxActive="100"
              p:maxWait="120000"
              p:jmxEnabled="true"
              p:removeAbandoned="true"
              p:removeAbandonedTimeout="180"
              p:testOnBorrow="true"
              p:testOnReturn="false"
              p:testWhileIdle="false"
              p:timeBetweenEvictionRunsMillis="30000"
              p:minEvictableIdleTimeMillis="30000"
              p:validationInterval="60000"
              p:validationQuery="/* ping */"
                />
    </beans>


<!-- to add cpr provider -->
</beans>
