<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean name="ncubeController" class="com.cedarsoftware.controller.NCubeController">
        <constructor-arg>
            <bean class="com.cedarsoftware.service.ncube.NCubeService" />
        </constructor-arg>
    </bean>

    <bean id="ncubeTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ncubeDataSource" />
    </bean>

    <tx:advice id="ncubeTxAdvice" transaction-manager="ncubeTransactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="is*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="has*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="does*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="search*" propagation="REQUIRED" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="ncubeServiceMethods" expression="execution(* com.cedarsoftware.service.ncube.NCubeService.*(..))"/>
        <aop:advisor advice-ref="ncubeTxAdvice" pointcut-ref="ncubeServiceMethods"/>
    </aop:config>

    <!--
    p:username="execdash"
    p:password="puCupRaQaZe3"
    -->

    <bean id="connectionProvider" class="com.cedarsoftware.util.SpringConnectionProvider">
        <constructor-arg ref="ncubeDataSource" />
    </bean>

    <bean id="persister" class="com.cedarsoftware.ncube.NCubeJdbcPersisterAdapter">
        <constructor-arg ref="connectionProvider" />
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.cedarsoftware.ncube.NCubeManager.setNCubePersister"/>
        <property name="arguments">
            <list>
                <ref bean="persister"/>
            </list>
        </property>
    </bean>

    <!--
        When using mysql as your test database, set an environment variable spring.profiles.active=mysql
        The profiles list can be comma separated if you need more than one profile
    -->

    <!--<bean id="ncubeDataSource" destroy-method="close" class="org.apache.tomcat.jdbc.pool.DataSource"-->
          <!--p:driverClassName="com.mysql.jdbc.Driver"-->
          <!--p:url="jdbc:mysql://mysqldev.cwge6txtewt5.us-east-1.rds.amazonaws.com:3306/ncube"-->
          <!--p:username="ncube"-->
          <!--p:password="ncube"-->
          <!--p:initialSize="5"-->
          <!--p:minIdle="5"-->
          <!--p:maxIdle="10"-->
          <!--p:maxActive="100"-->
          <!--p:maxWait="120000"-->
          <!--p:jmxEnabled="true"-->
          <!--p:removeAbandoned="true"-->
          <!--p:removeAbandonedTimeout="180"-->
          <!--p:testOnBorrow="true"-->
          <!--p:testOnReturn="false"-->
          <!--p:testWhileIdle="false"-->
          <!--p:timeBetweenEvictionRunsMillis="30000"-->
          <!--p:minEvictableIdleTimeMillis="30000"-->
          <!--p:validationInterval="60000"-->
          <!--p:validationQuery="/* ping */">-->
    <!--</bean>-->

    <bean id="ncubeDataSource" destroy-method="close"
          class="org.apache.tomcat.jdbc.pool.DataSource"
          p:driverClassName="oracle.jdbc.driver.OracleDriver"
          p:url="jdbc:oracle:thin:@dm01np-scan.td.afg:1521/app_ncubed.dev.gai.com"
          p:username="{user}"
          p:password="{password}"
          p:initialSize="5"
          p:minIdle="5"
          p:maxIdle="10"
          p:maxActive="100"
          p:maxWait="120000"
          p:jmxEnabled="true"
          p:removeAbandoned="true"
          p:removeAbandonedTimeout="180"
          p:testOnBorrow="true"
          p:testOnReturn="false"
          p:testWhileIdle="false"
          p:timeBetweenEvictionRunsMillis="30000"
          p:minEvictableIdleTimeMillis="30000"
          p:validationInterval="60000"
          p:validationQuery="select 1 from dual">
    </bean>


    <beans profile="mysql">
        <bean id="ncubeDataSource" destroy-method="close" class="org.apache.tomcat.jdbc.pool.DataSource"
              p:driverClassName="com.mysql.jdbc.Driver"
              p:url="jdbc:mysql://localhost:3306/ncube"
              p:username="ncube"
              p:password="ncube"
              p:initialSize="5"
              p:minIdle="5"
              p:maxIdle="10"
              p:maxActive="100"
              p:maxWait="120000"
              p:jmxEnabled="true"
              p:removeAbandoned="true"
              p:removeAbandonedTimeout="180"
              p:testOnBorrow="true"
              p:testOnReturn="false"
              p:testWhileIdle="false"
              p:timeBetweenEvictionRunsMillis="30000"
              p:minEvictableIdleTimeMillis="30000"
              p:validationInterval="60000"
              p:validationQuery="/* ping */">
        </bean>
    </beans>

    <beans profile="exa-dev">
        <bean id="ncubeDataSource" destroy-method="close"
              class="org.apache.tomcat.jdbc.pool.DataSource"
              p:driverClassName="oracle.jdbc.driver.OracleDriver"
              p:url="jdbc:oracle:thin:@dm01np-scan.td.afg:1521/app_ncubed.dev.gai.com"
              p:username="{user}"
              p:password="{password}"
              p:initialSize="5"
              p:minIdle="5"
              p:maxIdle="10"
              p:maxActive="100"
              p:maxWait="120000"
              p:jmxEnabled="true"
              p:removeAbandoned="true"
              p:removeAbandonedTimeout="180"
              p:testOnBorrow="true"
              p:testOnReturn="false"
              p:testWhileIdle="false"
              p:timeBetweenEvictionRunsMillis="30000"
              p:minEvictableIdleTimeMillis="30000"
              p:validationInterval="60000"
              p:validationQuery="select 1 from dual">
        </bean>
    </beans>

    <beans profile="exa-prod">
        <bean id="ncubeDataSource" destroy-method="close"
              class="org.apache.tomcat.jdbc.pool.DataSource"
              p:driverClassName="oracle.jdbc.driver.OracleDriver"
              p:url="jdbc:oracle:thin:@dm01-scan.td.afg:1521/app_ncubep.prod.gai.com"
              p:username="{user}"
              p:password="{quality}"
              p:initialSize="5"
              p:minIdle="5"
              p:maxIdle="10"
              p:maxActive="100"
              p:maxWait="120000"
              p:jmxEnabled="true"
              p:removeAbandoned="true"
              p:removeAbandonedTimeout="180"
              p:testOnBorrow="true"
              p:testOnReturn="false"
              p:testWhileIdle="false"
              p:timeBetweenEvictionRunsMillis="30000"
              p:minEvictableIdleTimeMillis="30000"
              p:validationInterval="60000"
              p:validationQuery="select 1 from dual">
        </bean>
    </beans>


<!-- to add cpr provider -->
</beans>
