body {
    padding-top: 39px; /* to make the container go all the way to the bottom of the top navbar */
    background-color: #FAF0E6;
}

#ncube-tabs {
    background-color: #ececec;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 1px 0;
    height: 22px;
}

#ncube-tabs li a.ncube-tab-top-level {
    color: #555;
    border: 1px solid #ddd;
    background-color: #D4D4D4;
    width: 215px;
}

#ncube-tabs li.active a.ncube-tab-top-level {
    background-color: white !important;
}

#ncube-tabs .dropdown-menu li a.active-view, #ncube-tabs .dropdown-menu li a.active-view:hover {
    background: #337ab7 none;
    color: white;
}

#ncube-tabs li a.ncube-tab-top-level.out-of-sync {
    background: #D4D4D4 url(../img/nce-down.png) no-repeat top 1px left 17px;
    background-size: 16px;
}

#ncube-tabs li a.ncube-tab-top-level span.tab-text {
    display: inline-block;
    width: 157px;
    text-align: center;
    white-space: nowrap;
}

#ncube-tabs li a.ncube-tab-top-level.out-of-sync span.tab-text {
    width: 150px;
    margin-left: 7px;
}

#tab-overflow li a.out-of-sync {
    background: url(../img/nce-down.png) no-repeat top 11px left 24px;
    background-size: 16px;
}

#tab-overflow li a.out-of-sync:hover {
    background-color: #E8E8E8;
}

#tab-overflow {
    display: inline-block;
    width: 37px;
}

#tab-overflow button {
    height: 20px;
    margin-top: -4px;
}

#tab-overflow-text {
    font-size: smaller;
    display: inline-block;
}

#tab-drag-indicator {
    position: absolute;
    z-index: 1001;
    height: 18px;
    width: 2px;
    background-color: #555;
}

.overflow-dropdown {
    position: fixed;
}

.overflow-dropdown li a {
    padding: 3px 10px;
    overflow: hidden;
}

.overflow-dropdown li a span.dropdown-tab-text {
    width: calc(100% - 30px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 6px;
    margin-left: 4px;
}

.overflow-dropdown li a.out-of-sync span.dropdown-tab-text {
    margin-left: 12px;
    width: calc(100% - 38px);
}

.tab-menu {
    width: 215px;
}

.tab-menu li, .top-menu li {
    min-height: 22px;
}

.tab-menu li a, .top-menu li a {
    min-height: inherit;
}

.tab-menu li button, .top-menu li button {
    margin-left: 2px;
}

.tab-menu li input, .top-menu li input {
    margin: 5px 0 0 5px;
    width: 95%;
}

.tab-tooltip {
    height: 23px;
    max-width: 100%;
    white-space: nowrap;
}

.ncube-selected {
    color: #444 !important;
    background-color:rgba(61, 139, 202, 0.25) !important;
    padding: 0 5px 0 5px !important;
    text-shadow: none !important;
}

.ncube-notselected {
    color: #444;
    background-color: white;
    padding: 0 5px 0 5px !important;
    text-shadow: none !important;
}

.search-hilite {
    background-color:rgba(61, 139, 202, 0.45);
}

#cube-search-options {
    display: none;
    height: 90px;
}

#ncubeTabContent {
    border: none #dcdcdc;
    border-radius: 0;
}

.top-buffer {
    margin-top:25px;
}

a.ncube-selected:hover, .a.ncube-selected:active {
    color: darkgray;
    background-color: rgba(61, 139, 202, 0.20) !important;
}

a.ncube-notselected:hover {
    color: #444;
    background-color: #ddd !important;
}

.panel {
    margin-bottom: 8px;
}

div#west, div.panel {
    border: none !important;
}

.main-list {
    padding: 5px;
}

.disabled {
    color: lightgrey;
    background-color: white;
}

div#west div.panel-body {
    padding: 5px;
    overflow: auto;
}

#south .nav-list {
    padding: 5px;
}

#ncube-list-div input, #ncube-list-div button, #ncube-list-div .panel-heading {
    border-radius: 0;
}

div#east div.panel-body {
    overflow: auto;
    height: 100%;
}

div#restoreCubeModal ul.list-group
{
    padding-left: 20px;
    padding-right: 20px;
}

span.selected-count {
    margin: 5px 0 0 5px;
    color: #999;
}

.hr-small
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.cube-list-font {
    font-family: "arial","helvetica", sans-serif;
    font-size: small;
    font-weight: bold;
}

.skinny-lr {
    padding: 5px 15px;
}

#west {
    height:100%;
    width: 100%;
    text-align: left;
    font-family: "arial","helvetica", sans-serif;
    font-size: small;
    font-weight: normal;
    margin: 0;
    padding: 0 5px;
    border: none;
    border-radius: 0;
    overflow:hidden;
    background: #4D4D4D;
}

#west > a.accordion-toggle {
    font-size: larger;
}

#center {
    background-color: #D1C5B7;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.bg-white {
    background-color: white;
}

.click-space {
    display: inline-block;
    width: 22px;
    position: relative;
    top: -1px;
}

.tab-close-icon {
    top: 2px;
}

.big-caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid;
    display: inline-block;
    margin-left: 5px;
}

#app-list-div {
    margin-top: 7px;
}

#ncube-list-div {
    margin-bottom: 0;
}

.change-type-header-count {
    color: #999;
    text-decoration: none;
}

.cube-fastforward {
    color: darkgrey;
}

.cube-conflict {
    color: red;
}

.cube-modified {
    color: cornflowerblue;
}

.cube-added {
    color: green;
}

.cube-deleted {
    text-decoration: line-through;
}

.cube-restored {
    color: goldenrod;
}

.top-buffer { margin-top:20px; }

.nav-tabs-short {
    display: inline-block;
}

.nav-tabs-short>li {
    font-size: 13px;
}

.nav-tabs-short li a {
    padding: 0 2px;
}

.open>.dropdown-menu:not(.has-submenu):not(.tab-menu) {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

#releaseCubesProgressBar {
    width: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#fadeMe1 {
    opacity: 1.0;
    background: #D1C5B7;
    width: 100%;
    height: 100%;
    z-index: 2000;
    padding:0;
    margin:0;
    top: 0;
    left: 0;
    position: fixed;
}
.fadeMe2 {
    z-index: 2015;
    color:black;
    background: #D1C5B7;
    position: relative;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#diffOutputModal {
    opacity: 1.0;
    background: white;
    border-radius: 10px;
    color:black;
    left:20px;
    top:20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 2050;
    margin:0;
    position: fixed;
    display: none;
}

#diffOutputModal > .modal-dialog,
#diffOutputModal > .modal-content {
    width: 100%;
    height: 100%;
}
#diffOutputModal > .modal-body {
    /* 100% = dialog height, 135px = header + filter + footer */
    width:100%;
    height: calc(100% - 135px);
    overflow-y: scroll;
}
#diffOutputModal table.diff {
    margin: 5px 35px;
}

.navbar-custom {
    background-color: #2474b8;
    border-color: #1f639c;
    padding-right: 40px;
    margin-bottom: 0;
    min-height: 40px;
    height: 40px;
}
.navbar-custom .navbar-brand {
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 12px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    line-height:40px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #a0d0ff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #a0d0ff;
    background-color: #1f639c;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #1e619a;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #a0d0ff;
    border-bottom-color: #a0d0ff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #1f639c;
    color: #a0d0ff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #a0d0ff;
    border-bottom-color: #a0d0ff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-device-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a0d0ff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #a0d0ff;
        background-color: #1f639c;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #a0d0ff;
}
/*
 Main color palette:
 #D1C587 - tan
 #856941 - brown
 #735D41 - darker brown
 #0193B7 - light blue
 #063E53 - dark blue
*/

/*  handle nested dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar {
    width: 20px;
    border: 1px solid #F1F1F1;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-button:decrement {
    background: url(../img/scrollbar-up.png) no-repeat top left;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-button:decrement:disabled {
    background: url(../img/scrollbar-up-disabled.png) no-repeat top left;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-button:increment {
    background: url(../img/scrollbar-down.png) no-repeat top left;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-button:increment:disabled {
    background: url(../img/scrollbar-down-disabled.png) no-repeat top left;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

.dropdown-submenu .dropdown-menu::-webkit-scrollbar-track-piece {
    background: #F1F1F1;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    content: " ";
    float: right;
    border: solid transparent;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#batchUpdateAxisReferencesTable {
    margin: 0 auto;
}

#batchUpdateAxisReferencesTable th {
    padding-right: 25px;
    text-align: center;
    font-weight: bold;
}

#batchUpdateAxisReferencesTable td {
    padding-right: 25px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.batchUpdateAxisReferencesNewAxisSelect td {
    padding-bottom: 25px;
}

#batchUpdateAxisReferencesTable select {
    max-width: 225px;
    min-width: 100px;
}

#globalComparatorTable {
    margin: 0 auto;
}

#globalComparatorTable td {
    padding: 0 25px 20px 0;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#globalComparatorTable select {
    max-width: 225px;
    min-width: 225px;
}

#appIdMenu {
    padding: 5px;
    float: none;
    background: #D1C5B7;
}

#appIdMenu li, #appIdMenu button {
    width: 100%;
}

#appIdMenu button {
    word-wrap: break-word;
}

#btnClearBranchQuickSelect {
    width: 25% !important;
    margin-right: 5px;
}

#appIdMenu li a.dropdown-toggle {
    padding: 5px 0;
}

#appIdMenu .open a.dropdown-toggle, #appIdMenu li a.dropdown-toggle:hover, #appIdMenu li a.dropdown-toggle:focus {
    background-color: #777777;
}

.panel-frame {
    position: relative;
    height: 100%;
    width: 100%;
}

.backdrop-overlay {
    opacity: .5;
    position: fixed;
    z-index: 1040;
    background-color: #000;
}

a.section-all, a.section-none,
a.section-all:focus, a.section-none:focus,
a.section-all:hover, a.section-none:hover {
    text-decoration: none;
    color: #999;
    margin-left: 10px;
}

.compare-label {
    width:65px;
}
.html-label {
    width: 45px;
}
.json-label {
    width: 46px;
}

.space-grey {
    color: #a5adb0;
}

.highlight-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}

ul .checkbox-label {
    display: inline-block;
    margin: 0 0 0 20px;
}

#view-commits-list {
    height: calc(100% - 91px);
    width: 100%;
}

.view-commits-display {
    overflow-y: scroll;
    min-width: 1110px;
    width: 97%;
}

.view-commits-display:first-of-type::-webkit-scrollbar {
    width: 21px;
}

.view-commits-display, .view-commits-display tbody, .view-commits-display tr, .view-commits-display th, .view-commits-display td {
    display: inline-block;
}

.view-commits-display tbody, .view-commits-display tr, .view-commits-display select {
    width: 100%;
}

.view-commits-display th:not(:last-child), .view-commits-display td:not(:last-child) {
    padding-right: 5px;
    overflow: hidden;
}

.view-commits-app {
    width: 14%;
}
.view-commits-version {
    width: 6%;
}
.view-commits-branch {
    width: 14%;
}
.view-commits-status {
    width: 11%;
}
.view-commits-requester {
    width: 11%;
}
.view-commits-request-date {
    width: 11%;
}
.view-commits-committer {
    width: 11%;
}
.view-commits-commit-date {
    width: 11%;
}
.view-commits-pr {
    width: 8%;
}

.modal-xl {
    width: 94%;
}

.modal-xl .modal-body {
    height: 450px;
}

@media (min-height: 768px) {
    .modal-xl .modal-content {
        height: 700px;
    }

    .modal-xl .modal-body {
        height: 590px;
    }
}

@media (min-height: 1000px) {
    .modal-xl .modal-content {
        height: 930px;
    }

    .modal-xl .modal-body {
        height: 820px;
    }
}

.highlighted{
    background-color:#FAFAD2;
}