#mainBody {
    color:black;
    background:#D1C5B7;
    padding:0
}

.disabled {
    color: lightgrey;
    background-color: white;
}

#cell-clipboard {
    width: 1px;
    height: 1px;
    padding: 0;
}

#nce-clipboard-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 100;
    display: block;
    opacity: 0;
}

div#editColumnsModal ul.list-group
{
    padding-left: 20px;
    padding-right: 20px;
}

div#editColumnsModal div.panel-group
{
    margin-bottom: 0;
}

.nc-anc {
    cursor: pointer;
}

#hot-container {
    top: 20px;
    position: fixed;
}

/* begin coord bar and HOT */

#util-container-bar {
    position: fixed;
    height: 20px;
}

#coordinate-bar-text {
    white-space: nowrap;
    overflow-x: scroll;
    cursor: default;
    position: absolute;
    left: 24px;
}
#coordinate-bar-text::-webkit-scrollbar {
    display:none;
}

#coordinate-bar-move-left {
    position: absolute;
    left: 0px;
    display: none;
}

#coordinate-bar-move-right {
    position: absolute;
    display: none;
}

#search-container {
    width: 300px;
    position: absolute;
    max-height: 20px;
    overflow: hidden;
}

#search-container input {
    padding: 0;
    width: 138px;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#search-info {
    color: #C7C7CD;
    width: 84px;
    display: inline-block;
    text-align: right;
}

.bg-white {
    background-color: white;
}

.pos-fixed {
    position: fixed;
}

.handsontable table.htCore {
    background-color: #BEEEEF;
}

.handsontable th.handsonCurrentRow, .handsonTableHeader.handsonCurrentRow {
    background-color: rgba(146, 146, 146, 0.75) !important;
}
.handsontable .htCore td.searchResult {
    background-color: #EFFB3C;
    color: #583707;
}

.handsontable td.handsonTableHeader {
    color: white;
    background-color: #929292;
}

.handsontable .oddRow {
    background-color: #E0E0E0;
}

.handsontable .htCore col.rowHeader {
    width: 40px;
}

.handsontable .htCore th, .handsontable .htCore td {
    border-top: 1px solid #CCC;
    border-bottom: none !important;
}

.handsontable.ht_clone_top_left_corner {
    overflow: visible !important;
}

.handsontable .htCore th {
    color: #D9D9D9;
}

.handsontable .tableDefault {
    color: #CCC;
}

.dropdown-menu {
    position: fixed;
}

.indent-axis-buttons {
    padding: 3px 20px;
}


.frozen-cols-input {
    width: 30px;
    height: inherit;
    padding: 2px 5px;
}

#hot-container > div.ht_clone_top_left_corner.handsontable > div > div > div > table > tbody > tr:nth-child(2) > th {
    font-size: x-small;
    white-space: normal;
    line-height: 15px;
    color: #555;
    padding: 0;
}

/* end coord bar and HOT */

/* begin cell display */

.rule-name  {
    background:#555;
    color:#e8e8e8;
    border-radius:3px;
    font-family: "arial","helvetica", sans-serif;
    padding-left:5px;
    padding-right:5px;
    padding-top:1px;
    padding-bottom:1px
}

.hr-rule {
    margin:1px;
    border-style:dashed;
    border-color:darkgray;
}

.code {
    font-family: menlo,"Lucida Console",monaco,monospace,courier;
}

/* end cell display */