body {
    padding-top: 50px; /* to make the container go all the way to the bottom of the top navbar */
    background-color: #FAF0E6;
}

.ncube-selected {
    color: white;
    background-color:darkorange;
    padding: 0 5px 0 5px !important;
    text-shadow: none !important;
}

.ncube-notselected {
    color: black;
    background-color: white;
    padding: 0 5px 0 5px !important;
    text-shadow: none !important;
}

.cell-selected {
    background-color: lightblue !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ncubeTabContent {
    border: none #dcdcdc;
    border-radius: 0;
}

.top-buffer { margin-top:25px; }

a.ncube-selected:hover, .a.ncube-selected:active {
    color: white;
    background-color: darkorange !important;
}

a.ncube-notselected:hover {
    background-color: #ddd !important;
}

th.ncube-dead:hover {
    background: #76A7FF;
}

.th-ncube a, .th-ncube-top a {
    color: lightskyblue;
}

.th-ncube > a:hover, .th-ncube-top > a:hover {
    color: lightcyan;
}

.panel {
    margin-bottom: 10px;
    overflow: hidden;
}
.panel-heading {
    padding: 5px;
}

div#west div.panel-body {
    padding: 10px 5px;
    overflow: auto;
}

div#east div.panel-body {
    overflow: auto;
    height: 100%;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.json-div {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.json-textarea {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.hr-small
{
    margin-top: 2px;
    margin-bottom: 2px;
}

#west {
    height:100%;
    width: 100%;
    text-align: left;
    /*font-family: "arial","helvetica", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 600;
    margin: 0;
    padding: 0 6px;
    border: none;
    border-radius: 0;
    overflow:hidden;

    background: black;
    background: rgba(0, 0, 0, .80);

    background-repeat: repeat-x;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 39%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(39%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 39%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 39%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 39%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 39%, rgba(0, 0, 0, 1) 100%); /* W3C */
}


#testLayoutEast {
    height:100%;
    width: 100%;
    text-align: left;
    /*font-family: "arial","helvetica", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 600;
    margin: 0;
    padding: 0 6px;
    background: #b5bdc8;
    border: none;
    border-radius: 0;
    overflow: hidden;
}

#west > a.accordion-toggle {
    font-size: larger;
}

#center {
    background-color: #EEEEEE;
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto !important;
    width: 100%;
}

#app-list-div {
    margin-top: 6px;
}

#ncube-list-div {
    margin-bottom: 6px;
}

#testLayoutCenter {
    padding: 0 !important;
    overflow: auto !important;
    background:transparent;
    border: none #dcdcdc;
    border-radius: 0;
}

#testLayoutCenter > .well {
    border: none white;
    border-radius: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;


    background: black;
    background: rgba(0, 0, 0, .80);

    background-repeat: repeat-x;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuODUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 27%, rgba(0,0,0,0.75) 65%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(27%,rgba(0,0,0,0.5)), color-stop(65%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 27%,rgba(0,0,0,0.75) 65%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 27%,rgba(0,0,0,0.75) 65%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 27%,rgba(0,0,0,0.75) 65%,rgba(0,0,0,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 27%,rgba(0,0,0,0.75) 65%,rgba(0,0,0,0.85) 100%); /* W3C */
}

#ncube > .well {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0;

    border: none white;
    border-radius: 0;

    background: #000000;
    background: rgba(0, 0, 0, .65);
    background-repeat: repeat-x;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* W3C */
}


.red-item {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    color: #C0C0C0;
}

.red-item:hover {
    color: #d9534f;
    outline: 0;
}


#testParameters > .panel-body {
    padding: 15px;
}

#testParameters div.form-group, #testAssertions div.form-group {
    margin-bottom: 20px;
    margin-top: 10px;
}

#testParameters div.form-group:last-child, #testAssertions div.form-group:last-child {
    margin-bottom: 10px;
}

#testParametersDiv {
    overflow: visible;
}

#testLayoutEast {
    margin: 0;
    padding: 0;
}

#testListWarning {
    margin: 5px 5px 0 5px;
}


#testListItems {
    margin-bottom: 0;
}

#tests, #ncube {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#testResult {
    margin-top: 20px;
}

#testLayoutSouth {
    margin: 0;
    padding: 0;
}

.top-buffer { margin-top:20px; }

#testView {
    min-width: 740px;
}

#selectedTestName {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#testLayoutEast div#testList {
    margin-bottom: 0;
    border-radius: 0;
}

#testList div.panel-body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

#testListItems a.selected {
    background: rgb(217, 237, 247); /* fallback */
    background: rgba(61, 139, 202, .25);
}

#testListItems {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#testListItems a.list-group-item {
    padding: 3px;
    border: 1px solid #FAF0E6;
}

#testAssertionsDiv, #testResultsDiv {
    margin-top: 20px;
}

.navbar-custom {
    background-color: #2474b8;
    border-color: #1f639c;
}
.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #a0d0ff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #a0d0ff;
    background-color: #1f639c;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #1e619a;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #a0d0ff;
    border-bottom-color: #a0d0ff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #1f639c;
    color: #a0d0ff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #a0d0ff;
    border-bottom-color: #a0d0ff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a0d0ff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #a0d0ff;
        background-color: #1f639c;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #a0d0ff;
}

/*
.bs-docs-nav .dropdown-toggle .icon-bar {
    background-color: #563d7c;
}

.dropdown-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
*/