#mainBody {
    color:black;
    background:#D1C5B7;
    padding:0
}

.disabled {
    color: lightgrey;
    background-color: white;
}

#cell-clipboard {
    width: 1px;
    height: 1px;
    padding: 0;
}

#nce-clipboard-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 100;
    display: block;
    opacity: 0;
}

div#editColumnsModal ul.list-group
{
    padding-left: 20px;
    padding-right: 20px;
}

div#editColumnsModal div.panel-group
{
    margin-bottom: 0;
}

.nc-anc {
    cursor: pointer;
}

#hot-container {
    top: 20px;
    position: fixed;
}

#coordinate-bar {
    position: fixed;
    white-space: nowrap;
    overflow-x: scroll;
    cursor: ew-resize;
}

#coordinate-bar::-webkit-scrollbar {
    display:none;
}

.handsontable table.htCore {
    background-color: #BEEEEF;
}

.handsontable th {
    background-color: #929292 !important;
    color: white !important;
}

.handsontable th.handsonCurrentRow, .handsonTableHeader.handsonCurrentRow {
    opacity: .75;
}

.handsontable th, .handsontable td {
    border-top: 1px solid #CCC;
    border-bottom: none !important;
    white-space: nowrap !important;
}

.handsontable .tableDefault {
    color: #CCC;
}