#mainBody {
    color:black;
    background:#D1C5B7;
    padding:0
}

.disabled {
    color: lightgrey;
    background-color: white;
}

#cell-clipboard {
    width: 1px;
    height: 1px;
    padding: 0;
}

#nce-clipboard-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 100;
    display: block;
    opacity: 0;
}

div#editColumnsModal ul.list-group
{
    padding-left: 20px;
    padding-right: 20px;
}

div#editColumnsModal div.panel-group
{
    margin-bottom: 0;
}

.nc-anc {
    cursor: pointer;
}

#hot-container {
    top: 20px;
    position: fixed;
}

/* begin coord bar and HOT */

#coordinate-bar {
    position: fixed;
    background-color: white;
    height: 20px;
}

#coordinate-bar-text {
    white-space: nowrap;
    overflow-x: scroll;
    cursor: ew-resize;
    position: absolute;
    left: 20px;
}
#coordinate-bar-text::-webkit-scrollbar {
    display:none;
}

#coordinate-bar-move-left {
    cursor: pointer;
    width: 20px;
    position: absolute;
    left: 0px;
    display: none;
}

#coordinate-bar-move-right {
    cursor: pointer;
    width: 20px;
    position: absolute;
    display: none;
}

.handsontable table.htCore {
    background-color: #BEEEEF;
}

.handsontable th.handsonCurrentRow, .handsonTableHeader.handsonCurrentRow {
    opacity: .75;
}

.handsontable th, .handsontable td {
    border-top: 1px solid #CCC;
    border-bottom: none !important;
    white-space: nowrap !important;
}

.handsontable .tableDefault {
    color: #CCC;
}

.dropdown-menu {
    position: fixed;
}

/* end coord bar and HOT */

/* begin cell display */

.rule-name  {
    background:#555;
    color:#e8e8e8;
    border-radius:3px;
    font-family: "arial","helvetica", sans-serif;
    padding-left:5px;
    padding-right:5px;
    padding-top:1px;
    padding-bottom:1px
}

.hr-rule {
    margin:1px;
    border-style:dashed;
    border-color:darkgray;
}

.code {
    font-family: menlo,"Lucida Console",monaco,monospace,courier;
}

/* end cell display */