div.inline-block {
    display: inline-block;
    vertical-align:middle;
    padding:7px;
}

#visualizer-info{
    color:black;
    background:#D1C5B7;
    padding:0
}

#scope-info{
    color:black;
    background:#D1C5B7;
    padding:0;
}

#scope {
    width: 100%;
}

div.col-width-large {
    width: 700px
}

div.col-width-xs {
    width: 25px
}

.nc-anc {
    cursor: pointer;
}

#visLayoutCenter {
    overflow: auto !important;
    /*background:transparent;*/
    border: none;
    border-radius: 0;
    padding: 0;
}

#visLayoutEast {
    height:100%;
    width: 100%;
    text-align: left;
    font-family: arial,helvetica,sans-serif;
    font-size: small;
    font-weight: normal;
    margin: 0;
    padding: 5px;
    background: white;
    border: none;
    border-radius: 0;

    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

ul, li{
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.cellValues
{
    list-style-position: inside;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cellValues li.executedCell
{
    background-image: url('../img/greenokcircle.png');
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.cellValues li.Exception
{
    background-image: url('../img/redexclamationmarkcircle.png');
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.cellValues li.InvalidCoordinateException, li.CoordinateNotFoundException
{
    background-image: url('../img/bluecirclequestionmark.png');
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.execute
{
    background-image: url('../img/greenruntriangle.png');
    cursor:pointer;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

h3{
    margin-top: 0;
}

.title1{
    color: darkgray;
}

#groups-div {
    min-height: 47px;
}

#networkOptionsButton
{
    background-image: url('../img/einstein.png');
    cursor:pointer;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    box-shadow: inset 0 6px 14px rgba(0,0,0,.70);
}

#networkOptionsButton.active {
    box-shadow: none;
    border: none;
}

#networkOptionsSection
{
    display:none;
    visibility:inherit;
    background-color:#D1C5B7;
}

.borders div{
}

.highlighted{
    background-color:#FFFF00;
}

.readOnly{
    background-color:rgb(235, 235, 228);
}




