.form-builder-data-row {
    border: 1px solid lightgrey;
}

.form-builder-data-row td {
    padding: 1px;
}

.open>.form-builder-dropdown-menu:not(.has-submenu) {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-builder-data-table th {
    position: sticky;
    background: white;
    top: 0;
}
