.form-builder-data-row {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.form-builder-data-row td {
    padding: 1px;
}

.open>.form-builder-dropdown-menu:not(.has-submenu) {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-builder-data-table th {
    position: sticky;
    background: white;
    top: 0;
    z-index: 100;
}

.modal-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

a.form-builder-data-section-all,
a.form-builder-data-section-none,
a.form-builder-data-section-all:focus,
a.form-builder-data-section-none:focus,
a.form-builder-data-section-all:hover,
a.form-builder-data-section-none:hover {
    text-decoration: none;
    color: #999;
    margin-left: 10px;
}

.form-builder-data-section-count {
    color: #999;
    text-decoration: none;
}

.form-builder-input-table .btn{
    margin-left: 5px;
}